.inner {
  max-width: 1110px;
  padding: 0 5px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 35px;
}
.titleNo {
  color: #d9d9d9;
}

.observer {
  width: 100%;
  height: 50px;
  background-color: teal;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #fefefe #0000;
  animation: l1 1s infinite;
  margin: 0 auto;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
