.button {
  width: 100%;
  padding-block: 7px;
  border-radius: 15px;
  font-size: 36px;
  background-color: #000000;
  color: #d9d9d9;
  border: none;
}

.item {
  max-width: 301px;
  max-height: 812px;
  padding: 10px;
  background-color: #d9d9d9;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  .image {
    display: block;
    max-width: 281px;
    width: 100%;
    max-height: 366px;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    object-fit: cover;
    margin-bottom: 20px;
    @media (max-width: 480px) {
      max-height: 228px;
      object-fit: contain;
    }
  }
  .title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    word-wrap: break-word;
    overflow: hidden;
    @media (max-width: 480px) {
      font-size: 24px;
    }
  }
  .description {
    font-size: 18px;
    max-height: 150px;
    overflow: auto;
    word-wrap: break-word;
    margin-bottom: auto;
    @media (max-width: 480px) {
      font-size: 14px;
      max-height: 100px;
    }
  }
  .price {
    width: 100%;
    margin-top: auto;
    text-align: center;
    font-size: 36px;
    margin-bottom: 33px;
    @media (max-width: 480px) {
      margin-top: 20px;
      font-size: 28px;
    }
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 68px;
    padding-block: 7px;
    border-radius: 15px;
    font-size: 36px;
    background-color: #000000;
    color: #d9d9d9;
    border: none;
  }
  .buttonActive {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    border-radius: 15px;
    font-size: 36px;
    background-color: #d9d9d9;
    color: #d9d9d9;
    border: none;
    .count {
      width: 128px;
      background-color: #000000;
      color: #d9d9d9;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
    }
    .buttonMinus,
    .buttonPlus {
      width: 68px;
      height: 68px;
      font-size: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f0f0f0;
      background-color: #000000;
      border-radius: 15px;
    }
  }
}
